{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>
    <p>Routing is successful! Template loaded.</p>
    <p>Message from View: <strong>{{ message }}</strong></p>
    
    <hr>
    
    <h2>Core Actions</h2>
    <p>
        <a class="btn btn-primary my-1" href="{% url 'core:record_attendance' %}">Go to Attendance Recording Page</a>
    </p>
    <p>
        <a class="btn btn-secondary my-1" href="{% url 'core:view_grades' %}">View Student Grades / Run Calculation</a>
    </p>
    <p>
        <a class="btn btn-success my-1" href="{% url 'core:generate_qr_code' %}">Generate QR Code & Start Session</a>
    </p>

{% endblock content %}